

.grid-bg {
  position: absolute; /* se posiciona libre */
  inset: 0; /* cubre toda la pantalla */

  background-image: 
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size: 40px 40px; /* tamaño de los cuadritos */
}